<!DOCTYPE html>
<html lang="en" ng-app="travelr">
<head>
  <meta charset="UTF-8">
  <title>Travelr</title>
</head>
<body>
  <div ng-controller="WeatherCtrl">
    <h1>{{ place.title }}</h1>
    <input type="text" name="city" ng-model="query.city" />
    <input type="text" name="state" ng-model="query.state" />
    <button ng-click="findWeather(query)">Get Weather</button>
    <p>{{ place.item.title }}</p>
    <ul>
      <li>Date: {{ place.item.forecast[0].day + ' ' + place.item.forecast[0].date }}</li>
        <ul>
          <li>High: {{ place.item.forecast[0].high }} degrees F</li>
          <li>Low: {{ place.item.forecast[0].low }} degrees F</li>
          <li>Condition: {{ place.item.forecast[0].text }}</li>
        </ul>
        <li>Date: {{ place.item.forecast[1].day + ' ' + place.item.forecast[1].date }}</li>
        <ul>
          <li>High: {{ place.item.forecast[1].high }} degrees F</li>
          <li>Low: {{ place.item.forecast[1].low }} degrees F</li>
          <li>Condition: {{ place.item.forecast[1].text }}</li>
        </ul>
        <li>Date: {{ place.item.forecast[2].day + ' ' + place.item.forecast[2].date }}</li>
        <ul>
          <li>High: {{ place.item.forecast[2].high }} degrees F</li>
          <li>Low: {{ place.item.forecast[2].low }} degrees F</li>
          <li>Condition: {{ place.item.forecast[2].text }}</li>
        </ul>
    </ul>
    </div>

  </div>

  <script src="/app/angular.js"></script>
  <script src="/app/services/services.js"></script>
  <script src="/app/weather/weather.js"></script>
  <script src="/app/app.js"></script>

</body>
</html>