[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none;
}

body {
  background-color: #F2E6D0;
  font-family: 'Bungee Inline', cursive;
}

#weather {
  padding-left: 2%;
}

#currency {
  padding-left: 1%;
  color: #3D250B;
}

.subtext {
  font-size: 18px;
  font-weight: 600;
  color: #3D250B;
}

.navbar {
  background-color: #A3A093;
  border: 2px solid #3D250B;
  color: #3D250B;
}

.navbar a {
  color: #3D250B;
}

.head {
  color: #3D250B;
}

ul, ol {
  padding: 0;
  list-style: none;
  color: #3D250B;
}

p {
  font-size: 18px;
}

button {
  border-radius: 5px;
  background-color: #000000;
  color: #ffffff;
  font-size: 20px;
}

.day {
  background-color: #A3A093;
  width: 30%;
  margin-left: 15%;
}

.day li {
  padding-left: 5%;
}

.days {
  height: 10%;
}

li {
  font-size: 20px;
}

.total {
  color: #216C2A;
  font-size: 20px;
  font-weight: 500;
}