[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none;
}

body {
  background-color: #F2E6D0;
}

#weather {
  padding-left: 2%;
}

.navbar {
  background-color: #A3A093;
  border: 2px solid #3D250B;
}

ul, ol {
  padding: 0;
  list-style: none;
  color: #3D250B;
}

button {
  border-radius: 5px;
  background-color: #000000;
  color: #ffffff;
}

.day {
  background-color: #A3A093;
  width: 27%;
  margin-left: 15%;
}

.days {
  height: 10%;
}

.forecast li {
  font-size: 20px;
}