[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none;
}

body {
  background-color: #F2E6D0;
  color: #3D250B;
}

.navbar {
  background-color: #A3A093;
  border: 2px solid #3D250B;
}

ul, ol {
  padding: 0; list-style: none;
}

button {
  border-radius: 5px;
  background-color: #000000;
  color: #ffffff;
}