<div id="weather" ng-controller="WeatherCtrl">
    <h1>Travelr powered by: {{ place.title }}</h1>
    <img class="img-responsive" src="http://www.hotel-r.net/im/hotel/caribbean/aw/panorama-paradise-1.jpg" alt="Paradise">
    <p>We're based out of Tampa, FL so you're seeing our results. Enter the destination city and state below to get started.</p>
    <p>It works internationally too!</p>
    <input type="text" name="city" ng-model="query.city" />
    <input type="text" name="state" ng-model="query.state" />
    <button ng-click="findWeather(query)">Get Weather</button>
    <h4>{{ place.item.title }}</h4>
    <ul>
      <li ng-repeat="forecast in place.item.forecast">Date: {{ forecast.day + ' ' + forecast.date }}
        <ul>
          <li>High: {{ forecast.high }} degrees F</li>
          <li>Low: {{ forecast.low }} degrees F</li>
          <li>Condition: {{ forecast.text }}</li>
        </ul>
        <br>
      </li>
    </ul>
    <h4>Wind and Humidity</h4>
      <ul>
        <li>Wind Chill: {{ place.wind.chill }}</li>
        <li>Wind Speed: {{ place.wind.speed }}</li>
        <li>Humidity: {{ place.atmosphere.humidity }}%</li>
      </ul>
    <h4>The Sun</h4>
      <ul>
        <li>Sunrise: {{ place.astronomy.sunrise }}</li>
        <li>Sunset: {{ place.astronomy.sunset }}</li>
      </ul>
    <h4>Location</h4>
      <ul>
        <li>Latitude: {{ place.item.lat }}</li>
        <li>Longitude: {{ place.item.long }}</li>
      </ul>
    </div>

  </div>